In [10]:
import requests
import pandas as pd

def fetch_binance_ohlcv(symbol="BTCUSDT", interval="5m", limit=50):
    """
    Fetch OHLCV (Open, High, Low, Close, Volume) data from Binance
    """
    url = "https://api.binance.com/api/v3/klines"
    params = {"symbol": symbol, "interval": interval, "limit": limit}
    resp = requests.get(url, params=params)
    resp.raise_for_status()
    data = resp.json()
    df = pd.DataFrame(data, columns=[
        "open_time","open","high","low","close","volume",
        "close_time","qav","num_trades","tbbav","tbqav","ignore"
    ])
    df["close"] = df["close"].astype(float)
    return df[["open_time","close"]]

In [11]:
fetch_binance_ohlcv(symbol='BTCUSDT', interval='5m', limit=50)

        open_time      close
0   1757319600000  111493.42
1   1757319900000  111594.94
2   1757320200000  111735.95
3   1757320500000  111729.95
4   1757320800000  111807.35
5   1757321100000  111754.87
6   1757321400000  111623.30
7   1757321700000  111684.25
8   1757322000000  111655.34
9   1757322300000  111843.56
10  1757322600000  111968.49
11  1757322900000  112015.37
12  1757323200000  111988.80
13  1757323500000  111842.98
14  1757323800000  111831.66
15  1757324100000  111794.85
16  1757324400000  111878.83
17  1757324700000  111919.98
18  1757325000000  112008.64
19  1757325300000  112094.99
20  1757325600000  112028.19
21  1757325900000  111993.64
22  1757326200000  111947.90
23  1757326500000  111965.81
24  1757326800000  112079.99
25  1757327100000  112146.02
26  1757327400000  112080.00
27  1757327700000  112082.94
28  1757328000000  112119.00
29  1757328300000  112094.85
30  1757328600000  111998.40
31  1757328900000  112048.00
32  1757329200000  111934.14
33  1757329500000  111953.22
34  1757329800000  111880.29
35  1757330100000  111947.97
36  1757330400000  111884.87
37  1757330700000  111826.02
38  1757331000000  111800.00
39  1757331300000  111781.61
40  1757331600000  111918.41
41  1757331900000  111939.30
42  1757332200000  112121.58
43  1757332500000  112052.43
44  1757332800000  112063.74
45  1757333100000  112022.42
46  1757333400000  112006.08
47  1757333700000  111934.24
48  1757334000000  111937.52
49  1757334300000  111947.40

In [14]:
import requests
import pandas as pd

# 🔹 Get BTC/ETH 5m candles from Binance
def fetch_binance_data(symbol="BTCUSDT", interval="5m", limit=10):
    url = "https://api.binance.com/api/v3/klines"
    params = {"symbol": symbol, "interval": interval, "limit": limit}
    resp = requests.get(url, params=params)
    data = resp.json()

    df = pd.DataFrame(data, columns=[
        "open_time", "open", "high", "low", "close", "volume",
        "close_time", "qav", "num_trades",
        "taker_base_vol", "taker_quote_vol", "ignore"
    ])

    # keep only required columns
    df = df[["open_time", "close"]].astype({"close": float})

    # convert open_time → IST
    df["open_time"] = pd.to_datetime(df["open_time"], unit="ms") \
                        .dt.tz_localize("UTC") \
                        .dt.tz_convert("Asia/Kolkata")

    # sort by latest time first
    df = df.sort_values(by="open_time", ascending=False).reset_index(drop=True)
    return df

# ✅ Example usage
btc_df = fetch_binance_data("BTCUSDT", limit=10)
eth_df = fetch_binance_data("ETHUSDT", limit=10)

print("BTC Data (Latest First):")
print(btc_df.head())

BTC Data (Latest First):
                  open_time      close
0 2025-09-08 18:05:00+05:30  112053.50
1 2025-09-08 18:00:00+05:30  112019.88
2 2025-09-08 17:55:00+05:30  111947.40
3 2025-09-08 17:50:00+05:30  111937.52
4 2025-09-08 17:45:00+05:30  111934.24

In [15]:
print("\nETH Data (INR):")
print(eth_df.head())

ETH Data (INR):
                  open_time    close
0 2025-09-08 18:05:00+05:30  4319.00
1 2025-09-08 18:00:00+05:30  4317.37
2 2025-09-08 17:55:00+05:30  4315.70
3 2025-09-08 17:50:00+05:30  4313.03
4 2025-09-08 17:45:00+05:30  4312.09

In [19]:
import requests
import pandas as pd

def fetch_binance_data(symbol="BTCUSDT", interval="5m", limit=100):
    url = "https://api.binance.com/api/v3/klines"
    params = {"symbol": symbol, "interval": interval, "limit": limit}
    resp = requests.get(url, params=params)
    data = resp.json()

    df = pd.DataFrame(data, columns=[
        "open_time", "open", "high", "low", "close", "volume",
        "close_time", "qav", "num_trades",
        "taker_base_vol", "taker_quote_vol", "ignore"
    ])

    df = df[["open_time", "close"]].astype({"close": float})

    df["open_time"] = pd.to_datetime(df["open_time"], unit="ms") \
                        .dt.tz_localize("UTC") \
                        .dt.tz_convert("Asia/Kolkata")

    # oldest → latest (RSI calc sahi hoga)
    df = df.sort_values(by="open_time", ascending=True).reset_index(drop=True)

    df["RSI"] = calculate_rsi(df["close"])

    # recent → oldest for viewing
    df = df.sort_values(by="open_time", ascending=False).reset_index(drop=True)
    return df

def calculate_rsi(series: pd.Series, period: int = 14) -> pd.Series:
    delta = series.diff()

    gain = delta.clip(lower=0)
    loss = -delta.clip(upper=0)

    avg_gain = gain.ewm(alpha=1/period, min_periods=period, adjust=False).mean()
    avg_loss = loss.ewm(alpha=1/period, min_periods=period, adjust=False).mean()

    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))

    return rsi

# ✅ Example usage
btc_df = fetch_binance_data("BTCUSDT", limit=100)
eth_df = fetch_binance_data("ETHUSDT", limit=100)

print("BTC Latest 5 Rows with RSI:")
print(btc_df.head())

print("\nETH Latest 5 Rows with RSI:")
print(eth_df.head())

BTC Latest 5 Rows with RSI:
                  open_time      close        RSI
0 2025-09-08 18:10:00+05:30  112068.30  57.530685
1 2025-09-08 18:05:00+05:30  112082.33  58.663739
2 2025-09-08 18:00:00+05:30  112019.88  55.000651
3 2025-09-08 17:55:00+05:30  111947.40  50.249307
4 2025-09-08 17:50:00+05:30  111937.52  49.575389

ETH Latest 5 Rows with RSI:
                  open_time    close        RSI
0 2025-09-08 18:10:00+05:30  4320.25  55.642319
1 2025-09-08 18:05:00+05:30  4319.07  54.524304
2 2025-09-08 18:00:00+05:30  4317.37  52.937451
3 2025-09-08 17:55:00+05:30  4315.70  51.390188
4 2025-09-08 17:50:00+05:30  4313.03  48.895852